torch
torchvision
opencv-python
matplotlib
Pillow
numpy>=2.0,<2.3  # Compatible with opencv-python
scipy
scikit-learn
faiss-gpu-cu12  # CUDA 12.x specific version for Colab
tqdm
tifffile
argparse
PyYAML
pandas